.section-controls {
	.sc {
		&-anchors {
			&.dark {
				.sc {
					&-anchor-cta,
					&-anchor-items {
						background-color: var(--_colors---carbon-black);
					}

					&-anchor-cta-icon {
						svg {
							path {
								fill: var(--_colors---white);
							}
						}
					}

					&-anchor-text {
						color: var(--_colors---white);
					}
				}
			}
		}

		&-anchor-orb {
			@apply transition-opacity duration-300 ease-in-out;
		}

        &-anchor-text,
		&-anchor-text-c {
			@apply transition-all duration-300 ease-in-out;
		}

		&-anchor-item {
			&.active,
			&:hover {
				.sc-anchor-text {
					&:not(.is-active-state) {
						opacity: 0;
					}

					&.is-active-state {
						opacity: 1;
					}
				}
			}

			&.active {
				.sc-anchor-orb {
					@apply opacity-100 delay-100;
				}

				.sc-anchor-text-c {
					transform: translateX(1.25rem);
				}
			}

            &:hover:not(.active) {
				.sc-anchor-text-c {
					transform: translateX(0.375rem);
				}
			}
		}

		&-anchor-cta,
		&-anchor-cta-icon svg path {
			@apply transition-colors duration-300 ease-in-out;
		}
	}
}

main.g-main {
	@apply relative;
}

.section-controls {
	&.is-unstuck {
		@apply absolute;
		bottom: 1.875rem;
	}
}
