.section-controls {
	.sc {
		&-anchors {
			&.dark {
				.sc {
					&-anchor-cta,
                    &-anchor-items {
						background-color: var(--_colors---carbon-black);
					}

					&-anchor-cta-icon {
						svg {
							path {
								fill: var(--_colors---white);
							}
						}
					}

					&-anchor-text {
                        color: var(--_colors---white);
					}
				}
			}
		}

        &-anchor-orb {
            @apply transition-opacity duration-300 ease-in-out;
        }

        &-anchor-text {
            @apply transition-transform duration-300 ease-in-out;
        }

        &-anchor-item {
            &.active,
            &:hover {
                .sc-anchor-text {
                    @apply translate-x-[1.25rem];
                }

                .sc-anchor-orb {
                    @apply opacity-100 delay-200;
                }
            }
        }

        &-anchor-cta,
        &-anchor-cta-icon svg path,
        &-anchor-text {
            @apply transition-colors duration-300 ease-in-out;
        }
	}
}
