html {
	scrollbar-gutter: stable;
	background-color: #171615;

	&.disable-scrolling,
	&:has(dialog[open]) {
		@apply overflow-hidden;
	}
}

.hide-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}

	scrollbar-width: none;
	-ms-overflow-style: none;
}

.splide {
	.splide__pagination {
		@apply flex gap-[0.625rem];

		li {
			@apply flex;
		}
	}

	.splide__pagination__page {
		@apply m-0 size-[0.375rem] rounded-none opacity-100;
		background: var(--_colors---white-20);

		&.is-active {
			background: var(--_colors---white);
			transform: scale(1);
		}
	}
}

.splide,
.swiper {
	@apply transition-opacity duration-300 ease-out opacity-0 delay-500;

	&.is-ready {
		@apply opacity-100;
	}
}

.cl {
	&-container {
		&.is-rg {
			.cl-c-inner {
				@apply mx-[-0.75rem];

				.rg {
					&-card {
						@apply basis-full md:basis-[50%] lg:basis-[33.33%];

						&.is-active {
							@apply px-[0.75rem] mb-[1.5rem];
						}
					}
				}
			}
		}

		&.loaded {
			.cl-skeletons-c {
				@apply hidden;
			}
		}
	}

	&-c-inner {
		@apply flex flex-wrap;

		.rg {
			&-card {
                @apply h-auto;

				&.is-active {
					.rg-card-inner {
						@apply visible opacity-100 delay-200 duration-700;
						transform: translateY(0);
						transition-timing-function: cubic-bezier(
							0.25,
							1,
							0.5,
							1
						);
						will-change: transform;
						transition-property: opacity, transform;
					}
				}

				&:not(.is-active) {
					@apply w-0 h-0 !flex-none overflow-hidden;
				}

				&:hover {
					.rg-img {
						transform: scale(1);
					}
				}
			}

			&-img-c {
				&.active {
					.rg-img {
						@apply opacity-100 visible;
					}
				}
			}

			&-img {
				transform: scale(1.05);
				@apply transition-all duration-500 ease-out;
				@apply invisible opacity-0;
			}

			&-card-inner {
				@apply invisible opacity-0;
				transform: translateY(0.625rem);
			}
		}
	}

	&-empty {
		&.active {
			@apply flex;
		}
	}

	&-skeleton {
		@apply relative overflow-hidden;

		&::after {
			content: "";
			@apply inset-0 absolute;
			transform: translateX(-100%);
			background: linear-gradient(
				90deg,
				hsla(0, 0%, 100%, 0),
				#f1b51045 50%,
				hsla(0, 0%, 100%, 0)
			);
			animation: shimmer 1.4s ease infinite;
		}

		@keyframes shimmer {
			100% {
				transform: translateX(100%);
			}
		}
	}
}