html {
	scrollbar-gutter: stable;
	background-color: #171615;

	&.disable-scrolling {
		@apply overflow-hidden;
	}
}

dialog {
	@apply w-screen h-full max-w-full max-h-full;
	@apply p-0 m-0 border-none outline-none bg-none;
	border: none;
	outline: none;
	background: none;

	&:not([open]) {
		animation: dialogFadeOut 0.3s ease forwards;
	}

	&[open] {
		@apply flex items-center;
		animation: dialogFadeIn 0.3s ease forwards;
	}

	&::backdrop {
		background: rgba(0, 0, 0, 0.25);
	}

	@keyframes dialogFadeIn {
		from {
			transform: translateX(50%);
		}

		to {
			transform: translateX(0%);
		}
	}

	@keyframes dialogFadeOut {
		from {
			transform: translateX(0%);
		}

		to {
			transform: translateX(50%);
		}
	}

	@media (max-width: 767px) {
		@keyframes dialogFadeIn {
			from {
				transform: translateY(50%);
			}
			to {
				transform: translateY(0);
			}
		}

		@keyframes dialogFadeOut {
			from {
				transform: translateY(0);
			}
			to {
				transform: translateY(50%);
			}
		}
	}
}

.hide-scrollbar {
	&::-webkit-scrollbar {
		display: none;
	}

	scrollbar-width: none;
	-ms-overflow-style: none;
}

.splide {
	.splide__pagination {
		@apply flex gap-[0.625rem];

		li {
			@apply flex;
		}
	}

	.splide__pagination__page {
		@apply m-0 size-[0.375rem] rounded-none opacity-100;
		background: var(--_colors---white-20);

		&.is-active {
			background: var(--_colors---white);
			transform: scale(1);
		}
	}
}

.splide,
.swiper {
	@apply transition-opacity duration-300 ease-out opacity-0 delay-500;

	&.is-ready {
		@apply opacity-100;
	}
}

section.team-carousel {
	.swiper {
		&-nav-container {
			@apply flex gap-[0.375rem];
		}

		&-button-prev,
		&-button-next {
			@apply !static !flex !items-center !justify-center;
			@apply !m-0 !p-0 !w-[2.5rem] !h-[2.5rem] !rounded-[100%] shrink-0;
			background-color: var(--_colors---impact-yellow);
			border: 1px solid var(--_colors---impact-yellow);

			svg {
				path {
					@apply fill-[var(--\_colors---white)];
				}
			}

			&.swiper-button-disabled {
				@apply bg-transparent border-[var(--\_colors---white)] !opacity-[1];
				svg {
					path {
						@apply fill-[var(--\_colors---white)];
					}
				}
			}

			.swiper-navigation-icon {
				@apply hidden;
			}

			&,
			svg path {
				@apply transition-all duration-500 ease-out;
			}
		}

		&-button-prev {
			svg {
				margin-right: 0.125rem;
			}
		}

		&-button-next {
			svg {
				margin-left: 0.125rem;
			}
		}

		&-pagination {
			@apply !static hidden md:flex gap-[0.5rem] !w-auto;
		}

		&-pagination-bullet {
			@apply !m-0 !h-[0.25rem] !rounded-[0.25rem] !opacity-[1];
			@apply transition-all duration-500 ease-out;

			width: clamp(2.25rem, 2.8169vw + 1.5898rem, 4.125rem);
			background: var(--_colors---white) !important;

			&.swiper-pagination-bullet-active {
				background: var(--_colors---impact-yellow) !important;
			}
		}
	}
}

.cl {
	&-container {
		&.is-rg {
			.cl-c-inner {
				@apply mx-[-0.75rem];

				.rg {
					&-card {
						@apply basis-full md:basis-[50%] lg:basis-[33.33%];

						&.is-active {
							@apply px-[0.75rem] mb-[1.5rem];
						}
					}
				}
			}
		}

		&.loaded {
			.cl-skeletons-c {
				@apply hidden;
			}
		}
	}

	&-c-inner {
		@apply flex flex-wrap;

		.rg {
			&-card {
				@apply h-auto;

				&.is-active {
					.rg-card-inner {
						@apply visible opacity-100 delay-200 duration-700;
						transform: translateY(0);
						transition-timing-function: cubic-bezier(
							0.25,
							1,
							0.5,
							1
						);
						will-change: transform;
						transition-property: opacity, transform;
					}
				}

				&:not(.is-active) {
					@apply w-0 h-0 !flex-none overflow-hidden;
				}
			}

			&-img-c {
				&.active {
					.rg-img {
						@apply opacity-100 visible;
					}
				}
			}

			&-img {
				@apply invisible opacity-0;
			}

			&-card-inner {
				@apply invisible opacity-0;
				transform: translateY(0.625rem);
			}
		}
	}

	&-empty {
		&.active {
			@apply flex;
		}
	}

	&-skeleton {
		@apply relative overflow-hidden;

		&::after {
			content: "";
			@apply inset-0 absolute;
			transform: translateX(-100%);
			background: linear-gradient(
				90deg,
				hsla(0, 0%, 100%, 0),
				#f1b51045 50%,
				hsla(0, 0%, 100%, 0)
			);
			animation: shimmer 1.4s ease infinite;
		}

		@keyframes shimmer {
			100% {
				transform: translateX(100%);
			}
		}
	}
}

.cl-c-inner,
.rs-body {
	.rg {
		&-card {
			&:hover {
				.rg-img {
					transform: scale(1);
				}
			}
		}

		&-img {
			transform: scale(1.05);
			@apply transition-all duration-500 ease-out;
		}
	}
}
