header {
	@apply transition-all duration-700 ease-out;

	.nav {
		/* @apply transition-all duration-500 ease-out; */

		/* &-burger {
			svg {
				@apply w-[1.5rem] h-auto;

				path {
					@apply transition-all ease-out duration-300;
				}
			}
		}

		&-item {
			&.is-parent {
				&.open {
					.nav {
						&-dd {
							@apply visible;
						}
					}
				}
			}
		}

		&-dd {
			@apply flex invisible;
		} */

		&-logo {
			svg path {
				@apply transition-all duration-700 ease-out;
			}
		}
	}

	@media (min-width: 62rem) {
		.nav {
			&-item {
				&.w--current:not([href="#"]) {
					.nav-item-inner {
						@apply items-center gap-[0.5rem];

						&::before {
							content: "";
							@apply size-[0.375rem] rounded-full;
							background: var(--_colors---impact-yellow);
						}
					}
				}
			}
		}
	}

	@media not all and (min-width: 62rem) {
        &.nav-scrolled {
            background-color: white;

            .nav {
                &-logo,
                &-burger {
                    svg path[fill="white"] {
                        fill: var(--_colors---carbon-black);
                    }
                }

                &-burger {
                    svg line[stroke="white"] {
                        stroke: var(--_colors---carbon-black);
                    }
                }
            }
        }

		.nav {
			
		}
	}

	&:has(.nav-item.open),
	&.nav-scrolled,
	&.mob-active {
		/* background-color: white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

		.nav {
			&-logo {
				svg path[fill="white"] {
					fill: var(--_colors---carbon-black);
				}
			}
		} */
	}

	&.mob-active {
		/* .nav {
			&-burger {
				path {
					&:nth-child(1) {
						transform: rotate(45deg) translate(0.3125rem, -0.75rem);
					}

					&:nth-child(2) {
						@apply hidden;
					}

					&:nth-child(3) {
						transform: rotate(-45deg) translate(-0.75rem, 0.625rem);
					}
				}
			}

			&-panel {
				@apply pointer-events-auto visible;
				clip-path: inset(0% 0% 0% 0%);
			}

			&-panel-inner {
				@apply opacity-100;
				@apply transition-all duration-[0.4s] ease-out delay-100;
				transform: translateY(0);
			}
		} */
	}

	&.nav-scrolling-down.nav-scrolled:not(.mob-active):not(:has(.nav-item.open)) {
		@apply pointer-events-none;
		transform: translateY(-100%);
	}
}
