header {
	@apply transition-all duration-700 ease-power2-out;

	.nav {
		@apply transition-all duration-500 ease-power2-out;

		&-burger {
			svg {
				@apply w-[1.5rem] h-auto overflow-visible;

				line {
					@apply transition-all ease-out duration-300;
				}
			}
		}

        &-logo-c {
            @apply relative z-[2];
        }

		&-logo {
			svg path {
				@apply transition-all duration-700 ease-out;
			}
		}
	}

	@media (min-width: 62rem) {
		.nav {
			&-item {
				&.w--current:not([href="#"]),
				&:hover {
					.nav-item-inner {
						@apply pl-[1.875rem];
					}

					.nav-item-text::before {
						@apply opacity-100;
						transform: translateX(-0.875rem);
					}
				}
			}

			&:has(.nav-item:hover:not(.w--current)) {
				.nav-item.w--current:not([href="#"]) {
					.nav-item-inner {
						@apply pl-[1rem];
					}

					.nav-item-text::before {
						@apply opacity-0;
						transform: translateX(-1.25rem);
					}
				}
			}

			&-item-inner {
				@apply will-change-[padding-left];
				@apply transition-all duration-700 ease-power2-out;
			}

			&-item-text {
				@apply relative flex items-center;

				&::before {
					content: "";
					@apply will-change-transform;

					@apply size-[0.375rem] rounded-full pointer-events-none;
					@apply absolute left-0 opacity-0;

					@apply transition-all duration-700 ease-power2-out;

					background: var(--_colors---impact-yellow);
					transform: translateX(-1.25rem);
				}
			}

			&-items,
			&-anmt-inner {
				@apply transition-colors duration-500 ease-power2-out;
			}

			&-extras {
				@apply hidden;
			}
		}
	}

	@media not all and (min-width: 62rem) {
		&.nav-scrolled {
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

			.nav {
				&-logo,
				&-burger {
					svg path[fill="white"] {
						fill: var(--_colors---carbon-black);
					}
				}

				&-burger {
					svg line[stroke="white"] {
						stroke: var(--_colors---carbon-black);
					}
				}
			}
		}

		.nav {
			&-inner {
				@apply static;
			}

			&-items {
				@apply relative h-auto border-none inset-0 p-0;
				@apply flex flex-col gap-[1.5rem] rounded-none;
				transform: none;
			}

			&-item {
				@apply w-fit;

				.nav-item-text {
					@apply text-[1.5rem] leading-[120%] tracking-[-0.015rem] font-semibold;
				}
			}

			&-item-inner {
				@apply px-0;
			}

			&-panel {
				@apply pointer-events-none invisible absolute top-0;
				@apply w-full h-[100svh] flex flex-col left-0;
				background: #0000004f;
			}

			&-anmt {
				@apply w-full;
			}

			&-anmt-inner {
				@apply flex flex-col gap-[1.5rem];
				@apply w-full max-w-full p-[1.5rem];
			}

			&-anmt-content {
				@apply h-auto relative;
			}

			&-anmt-content-inner {
				@apply p-0;
			}

			&-anmt-cta {
				@apply h-auto px-0;
			}

			&-panel-outer {
				@apply overflow-clip block;
				background: var(--_colors---white);
				@apply ~pt-[4rem]/[5.25rem];
				box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.25);
				clip-path: inset(0% 0% 100% 0%);
			}

			&-panel-inner {
				@apply flex flex-col gap-[3rem] opacity-0;
				@apply overflow-x-clip overflow-y-auto;
				@apply pt-[2rem] pb-[3rem];
				background: var(--_colors---white);

				transform: translateY(-2.5rem);
				padding-right: var(--global--container-padding);
				padding-left: var(--global--container-padding);
			}

			&-panel-outer,
			&-panel-inner {
				@apply h-auto max-h-full;
				@apply transition-all duration-500 ease-out;
			}

			&-extras {
				@apply flex flex-col gap-[1.5rem];
			}
		}
	}

	&:has(.nav-item.open),
	&.mob-active,
	&.nav-scrolled {
		.nav {
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

			&-logo {
				svg path[fill="white"] {
					fill: var(--_colors---carbon-black);
				}
			}

			&-items {
				border-color: #cecece;
			}
		}

		&[data-wf--header--variant="dark-surface"] {
			.nav {
				&-anmt-inner {
					border-color: #cecece;
				}
			}
		}
	}

	&.mob-active {
		.nav {
			&-burger {
				line {
					stroke: var(--_colors---impact-yellow) !important;

					&:nth-child(1) {
						transform: rotate(45deg) translate(0px, -0.375rem);
					}

					&:nth-child(2) {
						transform: rotate(-45deg)
							translate(-0.4375rem, 0.1875rem);
					}
				}
			}

			&-panel {
				@apply pointer-events-auto visible;
			}

            &-panel-outer {
				clip-path: inset(0% 0% 0% 0%);
            }

			&-panel-inner {
				@apply opacity-100;
				@apply transition-all duration-[0.4s] ease-out delay-100;
				transform: translateY(0);
			}
		}
	}

	&.nav-scrolling-down.nav-scrolled:not(.mob-active):not(
			:has(.nav-item.open)
		) {
		@apply pointer-events-none ease-reveal;
		transform: translateY(-120%);
	}
}

body:has([data-barba-namespace="home"]) {
	@media not all and (min-width: 62rem) {
		header {
			.nav {
				background-color: white;
				box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

				&-logo {
					svg path[fill="white"] {
						fill: var(--_colors---carbon-black);
					}
				}

				&-burger {
					svg line[stroke="white"] {
						stroke: var(--_colors---carbon-black);
					}
				}

				&-items {
					border-color: #cecece;
				}
			}
		}
	}
}
