.g-btn {
	svg path,
	.g-btn-inner,
	.g-btn-text,
	.g-btn-arrow,
	.g-btn-inner::before {
		@apply duration-500 transition-all ease-power2-out;
	}

	.g-btn-inner {
		@apply relative;

		&::before {
			content: "";
			@apply absolute inset-0 z-[-1];
			@apply h-full w-full rounded-[inherit] bg-inherit;
		}
	}

	&:hover {
		/* &[data-wf--cta--variant="primary-purple"] {
			.g-btn-inner {
				background: #5b34e6;
			}
		}

		&[data-wf--cta--variant="primary-white"],
		&[data-wf--cta--variant="primary-bordered"] {
			.g-btn-inner {
				background: #f3f4f6;
			}

			svg path {
				fill: var(--_colors---pink) !important;
			}
		} */

        .g-btn-inner::before {
            transform: scale(1.04);
        }

		.g-btn-arrow {
			@apply will-change-transform;
			transform: rotate(45deg);
		}
	}
}
