section.content-grid-items {
	.cgi {
		&-tab {
			@apply transition-all duration-300 ease-out;

			&.active {
				background: var(--_colors---impact-yellow);
			}
		}

		&-panel {
			&.active {
				@apply relative;

				.cgi-panel-inner {
					@apply visible opacity-100 delay-200 duration-700;
					transform: translateY(0);
					transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
					will-change: transform;
					transition-property: opacity, transform;
				}
			}

			&:not(.active) {
				@apply w-full h-auto absolute invisible left-0 top-0;
			}
		}

		&-panel-inner {
			@apply opacity-0;
            transform: translateY(0.625rem);
		}
	}
}
