section.dense-power {
	.dp {
		&-content-inner {
			@apply justify-center;
			min-height: 100vh;
		}

		&-cards-wrapper {
			@media (min-width: 62rem) {
				@apply grid;

				.dp-card {
					grid-area: 1 / 1;
				}
			}
		}

		&-c-img {
			@apply object-contain;
		}

		&-c-img-wrap {
			@media (min-width: 62rem) {
				max-height: 44vh;
			}
		}

		@media (min-width: 62rem) and (max-height: 50rem) {
			&-c-title {
				@apply pt-[2rem] pb-[1.5rem];
			}

			&-c-img-wrap {
				max-height: 38vh;
			}

			&-c-media-wrap {
				height: 8rem;
			}

			&-c-para {
				@apply text-[0.8125rem] leading-[135%];
			}
		}

		@media not all and (min-width: 62rem) {
			&-c-content,
            &-c-content-inner,
            &-c-text-wrap {
                @apply contents;
            }

            &-c-subtitle {
                @apply order-1;
            }

            &-c-img-wrap {
                @apply order-2;
            }

            &-c-media-wrap {
                @apply order-3;
            }

            &-c-para {
                @apply order-4;
            }

            &-metrics {
                @apply order-5;
            }
		}
	}
}
