section.system-detail-popup {
	.sdp {
		&-t-btn,
		&-dialog-close {
			@apply cursor-pointer;
			@apply transition-[transform] duration-500 ease-power2-out;

			&:hover {
				transform: scale(1.1);
			}
		}

		&-dialog-outer {
			@apply w-full;
		}

		&-dialog-inner {
			@apply max-h-svh overflow-y-auto;
		}

		&-dialog-combo {
			@apply relative flex;
			@apply max-w-full overflow-hidden;

			&:has(.sdp-dialog-inner[data-key="indu-gen"].active) {
				.sdp-dialog-inner[data-key="com-gen"] {
					transform: translateX(20%);
				}
			}

			&:has(.sdp-dialog-inner[data-key="com-gen"].active) {
				.sdp-dialog-inner[data-key="indu-gen"] {
					transform: translateX(-120%);
				}

				.sdp-dialog-inner[data-key="com-gen"] {
					transform: translateX(-100%);
				}
			}

			.sdp {
				&-dialog-inner {
					@apply min-w-full;
					@apply transition-[transform,opacity] duration-700 ease-power2-out;

					&:not(.active) {
						@apply opacity-0 max-h-full;
					}

					&[data-key="indu-gen"] {
						.sdp-l-tab[data-key="indu-gen"] {
							background: var(--_colors---impact-yellow);

							.sdp-l-tab-txt {
								@apply font-semibold;
							}
						}
					}

					&[data-key="com-gen"] {
						.sdp-l-tab[data-key="com-gen"] {
							background: var(--_colors---impact-yellow);

							.sdp-l-tab-txt {
								@apply font-semibold;
							}
						}
					}
				}
			}
		}
	}

	@media not all and (min-width: 48rem) {
		.sdp {
			&-d-r-foot {
				@apply sticky bottom-0 bg-white;
			}

			&-dialog-combo,
			&-dialog-outer {
				@apply h-full;
			}

			&-dialog-combo {
				.sdp {
					&-dialog-inner {
						@apply duration-300;
					}
				}
			}
		}
	}

	dialog {
		animation: none;

		&[open] {
			animation: dialogFadeIn 0.8s forwards;
			animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
		}

		@keyframes dialogFadeIn {
			from {
				transform: translateY(3.75rem);
			}

			to {
				transform: translateY(0%);
			}
		}

		@media not all and (min-width: 48rem) {
			@apply items-start;

			&[open] {
				animation: dialogFadeIn 0.5s forwards;
			}

			@keyframes dialogFadeIn {
				from {
					transform: translateY(1.25rem);
				}

				to {
					transform: translateY(0%);
				}
			}
		}
	}
}
